@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100dvh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a,
i,
figure,
img,
button,
input[type="button"],
input[type="submit"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
  border-style: none;
  outline-style: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1200px;
  width: min(100% - 25px, 1080px);
  margin-inline: auto;
  box-sizing: border-box;
}

/* ! ------------------------------------------------------------------------ */
/* !                                 CONTENT                                  */
/* ! ------------------------------------------------------------------------ */

.grid-item {
  background-color: dodgerblue;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  padding: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 10px;
  grid-template-areas:
    "a a"
    "b c"
    "e d"
    "e g"
    "h h";
}

.grid-item-1 {
  grid-area: a;
  background-color: lightcoral;
}

.grid-item-2 {
  grid-area: b;
  background-color: lightsalmon;
}

.grid-item-3 {
  grid-area: c;
  background-color: lightgreen;
}

.grid-item-4 {
  grid-area: e;
  background-color: seagreen;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.grid-item-4 p {
  justify-self: start;
  grid-column: span 3;
}

.small-item {
  width: 100%;
  height: 20px;
  background-color: wheat;
  border: 1px solid #000;
}

.small-item-1 {
  justify-self: start;
  align-self: start;
}

.small-item-2 {
}

.small-item-3 {
  justify-self: end;
  align-self: end;
}

.grid-item-5 {
  grid-area: g;
  background-color: lightgoldenrodyellow;
}

.grid-item-6 {
  grid-area: d;
  background-color: dodgerblue;
}

.grid-item-7 {
  grid-area: h;
  background-color: silver;
}
